<launch>
    <arg name="robot_name"  default="robot0"/>
    <arg name="width" default="480"/>
    <arg name="height" default="270"/>

    <node pkg="nodelet" type="nodelet" name="realsense2_camera_manager" args="manager" output="screen" />

    <!-- realsense d455 by Suqin He -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch"> -->
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
        <arg name="align_depth" value="true"/>
        <arg name="linear_accel_cov" value="1.0"/>
        <!-- <arg name="enable_gyro"      value="true"/> -->
        <!-- <arg name="enable_accel"     value="true"/> -->
        <arg name="unite_imu_method" value="linear_interpolation"/>
        <arg name="enable_sync"      value="true"/>
        <arg name="filters" value="pointcloud"/>
        <!-- <arg name="publish_odom_tf"  value="false"/> -->
        <arg name="depth_width"      value="$(arg width)"/>
        <arg name="depth_height"     value="$(arg height)"/>
        <arg name="color_width"      value="$(arg width)"/>
        <arg name="color_height"     value="$(arg height)"/>
        <!-- <arg name="clip_distance"    value="1.5"/> -->
        <arg name="depth_fps"        value="30"/>
        <arg name="color_fps"        value="30"/>
        <arg name="external_manager" value="true"/>
        <arg name="manager"          value="realsense2_camera_manager"/>
        <arg name="required"         value="true"/>
        <arg name="tf_prefix"        value="camera"/>
        <!-- <arg name="odom_frame_id"    value="robot0/Local"/> -->
    </include>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid realsense2_camera_manager" output="screen">
        <remap from="~input" to="/depth/color/points" />
        <remap from="~output" to="/robot0/pointcloud" />
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.0
            filter_limit_max: 1.5
            leaf_size: 0.02
        </rosparam>
    </node>
    
    <!-- imu data fuse by Suqin He -->
    <!-- <node pkg="imu_filter_madgwick" type="imu_filter_node" name="ImuFilter">
        <param name="use_mag" type="bool" value="false" />
        <param name="_publish_tf" type="bool" value="false" />
        <param name="_world_frame" type="string" value="enu" />
        <remap from="/imu/data_raw" to="/camera/imu"/>
    </node> -->

</launch>